<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="VIP Coding Standards" xsi:noNamespaceSchemaLocation="https://schema.phpcodesniffer.com/phpcs.xsd">
	<description>The custom ruleset for the VIP Coding Standards itself.</description>

	<file>.</file>
	<!-- Exclude Composer vendor directory. -->
	<exclude-pattern>*/.git/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<arg value="sp"/> <!-- Show sniff and progress -->
	<arg name="basepath" value="."/><!-- Strip the file paths down to the relevant bit -->
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="50"/>

	<!-- Cache the results between runs. -->
	<arg name="cache" value="./phpcs.cache"/>

	<rule ref="WordPress-Extra">
		<exclude name="WordPress.Files.FileName"/>
		<exclude name="WordPress.NamingConventions.ValidVariableName"/>
		<exclude name="Universal.Arrays.DisallowShortArraySyntax"/>
		<exclude name="WordPress.PHP.YodaConditions"/>
		<exclude name="Generic.Functions.CallTimePassByReference"/>
	</rule>

	<rule ref="WordPress-Docs"/>

	<!-- Enforce PSR1 compatible namespaces. -->
	<rule ref="PSR1.Classes.ClassDeclaration"/>

	<rule ref="WordPress.Arrays.MultipleStatementAlignment">
		<properties>
			<property name="alignMultilineItems" value="!=100"/>
		</properties>
	</rule>

	<rule ref="PSR2.Methods.FunctionClosingBrace"/>

	<!-- Disallow long array syntax. -->
	<rule ref="Generic.Arrays.DisallowLongArraySyntax"/>

	<!-- Disallow Yoda conditions. -->
	<rule ref="Generic.ControlStructures.DisallowYodaConditions"/>

	<!-- Check code for cross-version PHP compatibility. -->
	<config name="testVersion" value="7.4-"/>
	<rule ref="PHPCompatibility">
		<!-- Exclude PHP constants back-filled by PHPCS. -->
		<exclude name="PHPCompatibility.Constants.NewConstants.t_finallyFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_yieldFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_ellipsisFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_powFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_pow_equalFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_spaceshipFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_coalesceFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_coalesce_equalFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_yield_fromFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_bad_characterFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_fnFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_attributeFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_matchFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_nullsafe_object_operatorFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_name_fully_qualifiedFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_name_qualifiedFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_name_relativeFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_readonlyFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_enumFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_public_setFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_protected_setFound"/>
		<exclude name="PHPCompatibility.Constants.NewConstants.t_private_setFound"/>
		<exclude name="PHPCompatibility.Constants.RemovedConstants.t_bad_characterFound"/>
	</rule>

</ruleset>
