<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="VIP Coding Standards" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">
	<description>The custom ruleset for the VIP Coding Standards itself.</description>

	<file>.</file>
	<!-- Exclude Composer vendor directory. -->
	<exclude-pattern>*/.git/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>

	<arg value="sp"/> <!-- Show sniff and progress -->
	<arg name="basepath" value="."/><!-- Strip the file paths down to the relevant bit -->
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="50"/>

	<rule ref="WordPress-Extra">
		<exclude name="WordPress.Files.FileName"/>
		<exclude name="WordPress.NamingConventions.ValidVariableName"/>
	</rule>

	<rule ref="WordPress-Docs"/>

	<!-- Enforce PSR1 compatible namespaces. -->
	<rule ref="PSR1.Classes.ClassDeclaration"/>

	<rule ref="WordPress.Arrays.MultipleStatementAlignment">
		<properties>
			<property name="alignMultilineItems" value="!=100"/>
		</properties>
	</rule>

	<rule ref="PSR2.Methods.FunctionClosingBrace"/>

	<!-- Disallow long array syntax -->
	<rule ref="Generic.Arrays.DisallowLongArraySyntax"/>

	<!-- Check code for cross-version PHP compatibility. -->
	<config name="testVersion" value="5.6-"/>
	<rule ref="PHPCompatibility">
		<!-- Exclude PHP constants back-filled by PHPCS. -->
		<exclude name="PHPCompatibility.PHP.NewConstants.t_finallyFound"/>
		<exclude name="PHPCompatibility.PHP.NewConstants.t_yieldFound"/>
		<exclude name="PHPCompatibility.PHP.NewConstants.t_ellipsisFound"/>
		<exclude name="PHPCompatibility.PHP.NewConstants.t_powFound"/>
		<exclude name="PHPCompatibility.PHP.NewConstants.t_pow_equalFound"/>
		<exclude name="PHPCompatibility.PHP.NewConstants.t_spaceshipFound"/>
		<exclude name="PHPCompatibility.PHP.NewConstants.t_coalesceFound"/>
		<exclude name="PHPCompatibility.PHP.NewConstants.t_coalesce_equalFound"/>
		<exclude name="PHPCompatibility.PHP.NewConstants.t_yield_fromFound"/>

		<!-- Unclear how, but appears to be back-filled anyhow, could be that PHP did so before the token was in use. -->
		<exclude name="PHPCompatibility.PHP.NewConstants.t_traitFound"/>
	</rule>

</ruleset>
