parameters:
    phpVersion: 70100 # Needs to be 70100 or higher... sigh...
    level: 5
    paths:
        - WordPressVIPMinimum
        - tests
    bootstrapFiles:
        - tests/bootstrap.php
    scanDirectories:
        - vendor/wp-coding-standards/wpcs/WordPress
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
