<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
	backupGlobals="true"
	bootstrap="./tests/bootstrap.php"
	beStrictAboutTestsThatDoNotTestAnything="false"
	forceCoversAnnotation="true"
	colors="true"
	>
	<testsuites>
		<testsuite name="VIPCS_Sniffs">
			<directory suffix="UnitTest.php">./WordPressVIPMinimum/Tests/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./WordPressVIPMinimum/Sniffs/</directory>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-html" target="./build/logs/"/>
	</logging>

</phpunit>
